{{link-to '<- Back to account list' 'accounts'}}

{{#each-in model as |key value|}}
<p>{{key}}: {{value}}</p>
{{/each-in}}

<p>
  <button class="danger" {{action 'deleteAccount' model}}>Delete account</button>
</p>
